# Virtual environments - MOST IMPORTANT!
.venv/
venv/
env/
*/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
.eggs/
.pytest_cache/

# Build and distribution directories
build/
dist/
*.egg-info/
*.tar.gz
*.whl

# Installer logs and pip files
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.venv
env/